<div class="col-md-10 offset-md-1 posts-list">
  <% if @posts.empty? %>
    <div class="jumbotron empty-posts">
      <h4 class="display-6 text-center">
        Oops! There are no posts at the moment ;)
      </h4>
    </div>
  <% else %>
    <div class="list-group">
      <% @posts.each do |post| %>
        <%= link_to post_path(post),
                    class: "list-group-item list-group-item-action flex-column align-items-start" do %>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
              <%= post.title %>
            </h5>
            <small id="post-time"><%= post.created_at.to_formatted_s(:db) %></small>
          </div>

          <p class="mb-1" id="post-content-sub"><%= post.content %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <nav aria-label="Posts navigation paginator" class="posts-paginator">
    <ul class="pagination justify-content-center">
      <%= link_to_previous_page @posts, 'Previous Page', { class: 'page-link' } do %>
        <li class="page-item disabled">
          <a class="page-link">
            Previous Page
          </a>
        </li>
      <% end %>
      <li class="page-item disabled">
        <a href="#" class="page-link"><%= page_entries_info @posts %></a>
      </li>
      <%= link_to_next_page @posts, 'Next Page', { class: 'page-link'} do %>
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1">Next Page</a>
        </li>`
      <% end %>
    </ul>
  </nav>
</div>
